:root{
  --PrimaryColor: #333333 ;
  --SecondColor : #C4122C ;
  --ThirdColor : #FAFAFA;
  --Bar : 72px ;
}

.SectionContact .SectionInfo{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}
.SectionInfo .Title{
  text-align: center;
}
.SectionInfo .Title h1{
   color: var(--SecondColor);
   font-size: 28px;
   margin-bottom: 10px;
}
.SectionInfo .Title p{
   color: var(--PrimaryColor) ;
   font-size: 18px;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
.SectionInfo .info{
  /* border: 2px solid blueviolet;     */
  display: flex;
  padding : 15px;
  align-items: start;
}
.SectionInfo .info .Pic{
    /* background-color: green; */
    width: 50%;
}
.SectionInfo .Pic img{
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.SectionInfo .content{
line-height: 50px;
 /* border: 1px solid orangered;   */
 display: flex;
 flex-direction: column;
  /* gap: 20px; */
 /* padding: 10px; */
 padding-left: 52px;
 justify-content: space-evenly;
 height: 100% ;
 color: var(--PrimaryColor);
 width: 50%;
 height: 100%;
}
.SectionInfo .content h3{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 25px;
 }

.SectionInfo .content .SocialMedia{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  padding-top: 20px;
}
.SocialMedia a i:nth-child(1){
  color: #000000;
}
.SocialMedia i:nth-child(2){
  color: #1355ac;
}
.SocialMedia i:nth-child(3){
  color: rgb(35, 35, 185);
}
.SocialMedia i:nth-child(4){
  color: #c4127a;
}
